{% extends "base.html" %}
{% block content %}
<section id="home" class="top_banner_bg secondary-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top_banner">
                
                </div>
                    <div class="col-md-6">
                    <div class="present">
        <h1>About:</h1>
            <p><font color="white">
                Adverse Media can come from a range of sources this includes traditional news media like newspapers in print or online or broadcast news across radio and TV. This system need user to  fill in name and definition from dictionary. The results will show articles that related to the person and the keyword that extract from the dictionary   .</font>
                
               
                <br><br><br><br>
            </p>
    </div>
</div>
        <div class="col-md-6">
                    <div class="present_img">
                        <img src="static/images/recent_img3.png" alt="image">
                    </div>
                </div>
</div>
{% endblock %}