{% extends "base.html" %}
{% block content %}
<section id="home" class="top_banner_bg secondary-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top_banner">
                
                </div>
 <div class="col-md-6">
                    
        <h1><font color="white">Contact:</h1>
            <p>
               
                Email</font>
                <a href="duraniraiz@gmail.com">duraniraiz@gmail.com</a> <font color="white">with any comments or concerns</font>.
                <br><br><br><br>
            </p>
    </div>

</div>

                        <img src="static/images/member_3.jpg" alt="image">
                    
               
{% endblock %}