{% extends "base.html" %}
{% block content %}
<section id="home" class="top_banner_bg secondary-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top_banner">
                
                </div>
                    <div class="col-md-6">
                    <div class="present">
        <h1>Limit:</h1>
            <p><font color="white">
               The request for scraping the product at Lazada has reached the limit.. Please try again in following day<p/></font>
                
               
                <br><br><br><br>
            </p>
    </div>
</div>
        <div class="col-md-6">
                    <div class="present_img">
                        <img src="static/images/hp1.png" alt="image">
                    </div>
                </div>
</div>
{% endblock %}
